<div class="col-md-6">
	<div class="text-center">
		<h1>Добре дошли в сайта...</h1>
		<p class="mt-20">Описателен текст за сайта</p>
	</div>
</div>
<div class="col-md-1 mt-20">
	<a ng-if="!currentUser" ng-href="#/auth" class="btn btn-success">Вход</a>
</div>
<div ng-if="currentUser" class="col-md-1 mt-20">
	<a ng-href="#/profile">{{currentUser}}</a>
	<a ng-href="/logout">Изход</a>
</div>
