<div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-7">
                    <img src="http://www3.britxbox.co.uk/blog/wp-content/uploads/2014/02/dolby_logo_gold_dolby_digital.jpg" alt="logo" class="img-responsive">
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary btn-block">
                        Начало
                    </button>
                    <button class="btn btn-warning btn-block">
                        Обяви
                    </button>
                    <button class="btn btn-success btn-block">
                        Ветеринарни клиники
                    </button>
                </div>
                <div class="col-md-5">
                    Opisatelen tekst za saita
                </div>
            </div>
        </div>