<div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-7">
                    <img src="/images/logo.png" alt="logo" class="img-responsive">
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary btn-block">
                        Начало
                    </button>
                    <button class="btn btn-warning btn-block">
                        Обяви
                    </button>
                    <button class="btn btn-success btn-block">
                        Ветеринарни клиники
                    </button>
                </div>
                <div class="col-md-5">
                    Opisatelen tekst za saita
                </div>
            </div>
        </div>