<div ng-controller="authController" class="wrapper">
    <div class="container">
        <div class="row">
            <!-- included in all files-->
            <div class="col-md-5">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTFtkwIHhBAiqQF43QqbVm3Gkd4AIwQ1oT8WVMcOYCadB-Bz1Pr" alt="logo" class="img-responsive">
                <div class="navigation">
                    <a ng-href="#/" class="btn btn-primary btn-block">
                        Начало
                    </a>
                    <a class="btn btn-warning btn-block">
                        Обяви
                    </a>
                    <a class="btn btn-success btn-block">
                        Ветеринарни клиники
                    </a>
                </div>
            </div>
            <!-- end included in all files-->
            <div ng-view autoscroll="true" class="fade-in-out"></div>
        </div>
    </div>
</div><!-- end div.wrapper -->
