<div class="container">
			<br>
			<br>
			<div class="row">
				<div class="col-md-5">
					<img src="/images/logo.png" alt="logo" class="img-responsive">
					<br>
					<br>
					<br>
					<button class="btn btn-primary btn-block">
						Начало
					</button>
					<button class="btn btn-warning btn-block">
						Обяви
					</button>
					<button class="btn btn-success btn-block">
						Ветеринарни клиники
					</button>
				</div>
				<div class="col-md-7">
					<br>
					<div class="text-center">
						<h1>Моят профил</h1>
					</div>
					
					<br>
					<br>
					<div class="col-md-4">
						<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRYE_TG-CV7JVFUdS6u7M9K5mN-pgB54vqI4nD6RcVe1mhtts3E" alt="Profile Image" class="img-responsive">
						<div class="text-center">
							<a href="#">Редакция на профил</a>
						</div>
					</div>
					<div class="col-md-8">
						<p>
							<b>Потребител:</b> тест
						</p>
						<p>
							<b>Статус:</b> активен
						</p>
						<p>
							<b>Последно влизане:</b> 23/04/2015 02:30
						</p>
						<p>
							<b>Домашен любимец:</b> куче
						</p>
						<div class="row">
							<div class="col-md-6">
								<button class="btn-primary btn-block">Съобщения(3)</button>
								<button class="btn-defalut btn-block">Приятели(3)</button>
							</div>
						</div>
						<br/>
						<p><b>За мен</b></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>