<div class="col-md-7">
	<div class="text-center">
		<h1>Моят профил</h1>
	</div>
	<div class="col-md-4">
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRYE_TG-CV7JVFUdS6u7M9K5mN-pgB54vqI4nD6RcVe1mhtts3E" alt="Profile Image" class="img-responsive">
		<div class="text-center">
			<a ng-href="#/editProfile">Редакция на профил</a>
		</div>
	</div>
	<div class="col-md-8">
		<p>
			<b>Потребител:</b> {{user.email}}
		</p>
		<p>
			<b>Статус:</b> {{user.active ? 'Активен' : 'Неактивен'}}
		</p>
		<p>
			<b>Последно влизане:</b> {{user.lastLogin | cmdate : 'dd/MM/yyyy HH:mm:ss'}}
		</p>
		<p>
			<b>Домашен любимец:</b> 
			<b ng-if="user.pet">
				{{user.pet.kind}}
			</b>
			<b ng-if="!user.pet">
				Не е посочен
			</b>
		</p>
		<div class="row">
			<div class="col-md-6">
				<button class="btn-primary btn-block">Съобщения(3)</button>
				<button class="btn-defalut btn-block">Приятели(3)</button>
			</div>
		</div>
		<p class="mt-20"><b>За мен</b></p>
		<p>{{user.info}}</p>
	</div>
</div>