<div class="col-md-7">
	<div class="text-center">
		<h1>Клиники</h1>
	</div>
	<div class="row page-section">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<label for="user-name" class="location">Въведете местоположение:</label>
				</div>
				<div class="col-md-6">
					<input id="pass-retype" ng-model="address" type="text" class="form-control">
					<button ng-click="search(address)" ng-disabled="!address || address.length == 0" 
					class="btn btn-success mt-20">Намери</button>
				</div>
			</div>
			<div ng-if="clinics.length > 0" class="results mt-20">
				<p class="bold">Намерени {{clinics.length}} клиники с адреси:</p>
				<ul class="results-list">
					<li ng-repeat="clinic in clinics">
						{{clinic.address}}
					</li>
				</ul>
				<p class="italic inline">Форма за записване на час при лекар:</p>
				<a class="link inline" href="#">Запиши час</a>
			</div>
			<div ng-if="clinics.length == 0" class="results mt-20">
				<p class="bold">Няма намерени клиники</p>
			</div>
		</div>
		<div class="col-md-6">
			  <div map-lazy-load="https://maps.google.com/maps/api/js">
			      	<map id="map" center="42.696703, 23.319827" zoom="10">
			      
				        <marker ng-repeat="clinic in clinics"
				          position="{{clinic.position}}"
				          on-click="showStore(event, id)"
				        >
				    	</marker>
				        

			      	</map>
			    </div>
		</div>
	</div>
</div>